@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root{
	--bg:rgb(255, 255, 255);
	--dark-text: rgb(26, 35, 35);
	--light-text: rgb(240,235,235);
	--primary-button: rgb(50, 205, 50);
	--secondary-button: rgb(225, 132, 225);
	--accent: rgb(118, 203, 203);
}

*{
	/* outline: 1px solid red; */
	font-family: 'DM Sans';
}

body{
	margin:0;
	font-family: 'DM Sans';
}

a {
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	font-size: 20px;
	background-color: #C0C0C0;
	height: 50px;
}

.header a{
	color:var(--dark-text);
}

.logo{
	height: 50px;
	margin-left: 10px;
	/* outline: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a{
	/* outline: 1px solid red; */
	padding: 22px 0;
}

.cart{
	display: flex;
	align-items: center; /* center vertically */
	justify-content: center; /* center horizontally */
	/* outline: 1px solid red; */
	text-align: center;
	justify-content: center;
	height: 40px;
	width: 20%;
}

.cart a{
	padding: 15px 0;
}

.cart-login{
	display: flex;
	width: 20%;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
}
.login a{
	text-align: center;
	padding: 6px;
	padding-left: 45px;
	padding-right: 45px;
	position: absolute;
	background-color:#0a0a23;
	color: var(--light-text);
	border:none; 
	border-radius:18px; 
	font-size: 75%;
	max-height: 45px;
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.nav a {
	text-decoration: none;
	margin: 0 10px;
	color: var(--dark-text);
  }

.nav a div{
	padding: 9px;
	border-bottom: 5px solid transparent;
	transition: border-bottom-color 0.2s ease-in-out;
	color: gray;
}	

.nav a.active div{
	color: var(--dark-text);
}
.nav div:hover{
	border-bottom-color: var(--dark-text);
}
.cart img{
	width: 50px;
}

.container{
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	margin: auto;
}

table th{
	background-color: #32CD32;
}

table, tr, td, th{
	border-width: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
}

td a{
	color: white;
	background-color: red;
	border-radius: 5px;
	padding: 2.5px 5px;
}

td input[type="submit"]{
	border-radius: 5px;
	cursor: pointer;
	color:white;
	background-color: darkgreen;
	border: none;
	padding: 2.5px 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 1.5em;
  height: 1.5em;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.decrement-button, .increment-button {
	width:1.5em;
	height: 2.4em;
	padding: 0;
	text-align: center;
	font-weight: bold;
	border: none;
	background-color: rgb(255, 119, 0);
	cursor: pointer;
}
.decrement-button {
    border-radius: 4px 0 0 4px;
}

.increment-button {
  	border-radius: 0 4px 4px 0;
}
