:root{
	--bg:rgb(255, 255, 255);
	--dark-text: rgb(26, 35, 35);
	--light-text: rgb(240,235,235);
	--primary-button: rgb(50, 205, 50);
	--secondary-button: rgb(225, 132, 225);
	--accent: rgb(118, 203, 203);
}

*{
	/* outline: 1px solid red; */
	font-family: 'DM Sans';}

body{
	margin:0;
	font-family: 'DM Sans';
}

a {
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	font-size: 20px;
	background-color: var(--bg);
	height: 50px;
}

.header a{
	color:var(--dark-text);
}

.logo{
	height: 50px;
	margin-left: 10px;
	/* outline: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a{
	/* outline: 1px solid red; */
	padding: 22px 0;
}

.cart{
	display: flex;
	align-items: center; /* center vertically */
	justify-content: center; /* center horizontally */
	/* outline: 1px solid red; */
	text-align: center;
	justify-content: center;
	height: 40px;
	width: 20%;
}

.cart a{
	padding: 15px 0;
}

.cart-login{
	display: flex;
	width: 20%;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
}
.login a{
	text-align: center;
	padding: 6px;
	padding-left: 45px;
	padding-right: 45px;
	position: absolute;
	background-color:#0a0a23;
	color: var(--light-text);
	border:none; 
	border-radius:18px; 
	font-size: 75%;
	max-height: 45px;
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.nav a {
	text-decoration: none;
	margin: 0 10px;
	color: var(--dark-text);
  }

.nav a div{
	padding: 9px;
	border-bottom: 5px solid transparent;
	transition: border-bottom-color 0.2s ease-in-out;
	color: gray;
}	

.nav a.active div{
	color: var(--dark-text);
}
.nav div:hover{
	border-bottom-color: var(--dark-text);
}
.cart img{
	width: 50px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
  
.products-row {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 100%;
	margin: 0;
	padding: 0;
}
  
.products-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-basis: calc(50% - 12.5px);
	margin: 12.5px 12.5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.products-list img {
	max-width: 100%;
	height: auto;
	transition: transform 0.5s ease;
}
.products-list:hover img {
	transform: scale(1.1);
}

.products-list button {
	display: block;
	margin: 10px auto 0;
}
.products-list form button[type="submit"] {
	display: block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	background-color: transparent;
	border: none;
	color: var(--light-text);
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}
  
.products-list:hover form button[type="submit"] {
	bottom: 10px;
	opacity: 1;
	background-color: var(--dark-text);
}

.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.login-form{
	background-color: var(--bg);
	padding: 30px;
	padding-top: 0px;
	border-radius: 30px;
	margin: auto;
	position: relative;
	font-size: 150%;
}

.login-form h2 {
  	text-align: center;
}

.button-container {
	/* outline: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container input[type="submit"]{
	
	padding-left: 40px;
	padding-right: 40px;
	color: var(--bg);
	background-color: var(--dark-text);
	font-size: 100%;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #262626, #727272);
	transition: all 0.3s ease;
}

.button-container input[type="submit"]:hover {
	cursor: pointer;
	font-size: 105%; /* Increase font size by 5% */
}

.transparent-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--dark-text);
	outline: none;
	width: 100%;
}
.center {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

select#category {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	color: var(--dark-text);
	border: none;
	padding: 10px;
  }
  
select#category option {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}
  
select#category:focus option {
	opacity: 1;
}
  
.background{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	width: 100vw;
	height: auto;
	z-index: -1;
	transform: translateZ(-10px) scale(2);
}


.title{
	font-size: 5rem;
	color: var(--light-text);
	text-shadow: 0 0 5px black;
}
.wrapper{
	height: 100vh;
	overflow-y: auto;
	scrollbar-width: none;
	overflow-x: hidden;
	perspective: 10px;
}

.wrapper header{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
}

.wrapper section{
	background-color:var(--bg);
	border-radius: 30px;
	padding:30px;
}